@page "/"

@using Zeebe.Client.Api.Responses;
@using zeebe_poc.Services

@inject IZeebeService _zeebeService


<h2>What's Up Zeebe !</h2>

<textarea  @bind="zeebeStatus" style="width: 100%; height: 100%;"></textarea>

@code {

    public string zeebeStatus;
    
    
    protected override async Task OnInitializedAsync()
    {
        zeebeStatus = (await _zeebeService.Status()).ToString();
    }
    
}